/* line 7, ../sass/screen.scss */
#canvasBig {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 200px;
}

/* line 10, ../sass/screen.scss */
#canvasCenter {
  z-index: 4;
  position: absolute;
  left: 0;
  top: 200px;
}

/* line 13, ../sass/screen.scss */
#canvasSmall {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 200px;
}

/* line 16, ../sass/screen.scss */
#canvasText {
  z-index: 6;
  position: absolute;
  left: 0;
  top: 200px;
}

/* line 19, ../sass/screen.scss */
#canvasMan {
  z-index: 7;
  position: absolute;
  left: 0;
  top: 200px;
}
